@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#puma {
  width: 100px;
}

#video_intro {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 18%;
}

#discount-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 5%;
  /* center block on all mobile device */
  position: absolute;
  top: 53%;
  background-color: rgb(0, 0, 0);
}

#discount-block.discount-anim {
  top: 18%;
  transition: 1s ease-in-out;
}

#adress-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 95%;
  width: 100%;
  padding: 5%;
  z-index:1;
}

#adress-block.adress-anim {
  top: 52%;
  transition: 1s ease-in-out;
}

#where {
  font-family: Roboto;
  text-align: center;
  color: #fff;
  font-size: 15px;
}

#adress {
  font-family: Roboto;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 1.2rem;
}

#map {
  height: 140px;
  clip-path: circle(25% at 50% 50%);
}

#spray {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

#spray-item {
  width: 65%;
}

#discount {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  align-items: center;
}

#discount-item {
  width: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index:2;
}

#footer-item {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-size: 25px;
  font-family: Roboto;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  -webkit-animation: test 4s infinite;
  animation: test 4s infinite;
}

#cta.cta-anim {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-size: 25px;
  font-family: Roboto;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  -webkit-animation: test 4s infinite;
  animation: test 4s infinite;
}




/* SCROLL DOWN */

.arrow {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.arrow.arrow-none {
  display: none;
}

.scroll-up {
  display: flex;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(-45deg);
  -webkit-animation: fade_move_up 3s ease-in-out infinite;
  -moz-animation: fade_move_up 3s ease-in-out infinite;
  animation: fade_move_up 3s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_up {
  0% {
    -webkit-transform: translate(0, -7px) rotate(-135deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -7px) rotate(-135deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_up {
  0% {
    -moz-transform: translate(0, 7px) rotate(-135deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, -7px) rotate(-135deg);
    opacity: 0;
  }
}
@keyframes fade_move_up {
  0% {
    transform: translate(0, 7px) rotate(-135deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, -7px) rotate(-135deg);
    opacity: 0;
  }
}
